  #login {
    margin: 0 auto;
    padding-top: 25vh;
  }

  .login-title {
    font-size: 50px;
    text-align: center;
  }

  #login-form {
    width: 450px;
    margin: 0 auto;
  }

  #login-form > fieldset {
    border:none;
  }

  .login-idContainer,
  .login-pwContainer {
    position: relative;
    margin-top: 20px;
  }

  [for^="login"] {
    position: absolute;
    transform: translateY(-80%);
    color: rgb(122, 117, 116);
  }

  #login-id,
  #login-pw {
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 30px;
  }

  .btn-login {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(41, 59, 83);
    border-radius: 10px;
    margin-top: 10px;
  }

  .btn-login:hover {
    background-color: rgba(41, 59, 83, 0.9);
  }

  .api-container {
    margin-top: 20px;
  }

  /* 카카오 로그인 */
  .btn-kakao {
    background-image: url('../img/kakaologin_en.png');
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 45px;
    border: thin solid #ddd;
    box-shadow: 1px 1px 1px grey;
    border-radius: 5px;
    margin-top: 10px;
  }

  .btn-kakao::before {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
  }

  .btn-kakao:hover::before {
    background-color: rgb(93, 90, 90, 0.2);
  }
  
  /* 구글 로그인 */
  .btn-google {
    color: #444;
    margin-top: 5px;
    width: 450px;
    height: 45px;
    border: thin solid #ddd;
    box-shadow: 1px 1px 1px grey;
    border-radius: 6px;
    position: relative;
  }

  .btn-google:hover {
    background-color: rgb(93, 90, 90, 0.2);
  }
 
  .btn-googleLogo {
    background: url('../img/googlelogo.png');
    background-position: 50%;
    background-size: 80px;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    top: 0;
    width: 60px;
    height: 40px;
  }

  .btn-googleText {
    display: inline-block;
    font-size: 20px;
    padding-left: 35px;
  }
 
  /* 로그아웃 모달 */
  .modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    text-align: center;
    background-color: rgba(128, 127, 127, 0.8);
  }

  .modal-container.active {
    visibility: visible;
  }

  .modal {
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    margin-top: 70px;
    transition: transform .4s;
  }

  .active .modal {
    transform: translateY(20%);
  }

  .modal-comment {
    font-size: 17px;
    font-weight: 700;
    line-height: 100px;
  }

  .btn-modalClose {
    font-weight: 700;
    font-size: 17px;
    color: rgb(77, 114, 184);
    padding: 10px;
  }