@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
#sidemenu {
  /* background-color:blue; */
  padding:20px 20px;
  /* background-color:red; */
}

.add-calender-list-box {
 position: relative;
}

.checkbox {
  display: none;
}

.checkbox + label { 
  transform: translate3d(0, -50%, 0);
  margin-top:15px;  
  display: inline-block;
  /* width: 90%; */
  line-height: 2em;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.checkbox + label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  width: 17px;
  height: 17px;
  background-color: #fff;
  border: 1px solid #cfdadd;
}

/* .checkbox:checked + label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate3d(0, -50%, 0);
  width: 9px;
  height: 9px;
  /* background-color: #e58a23; 
} */

.reset-checkbox {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate3d(0, -50%, 0);
  width: 9px;
  height: 9px;
}

